@{
    ViewData["Title"] = "Orders";

    var status = Context.Request.Query["status"];

    var paymentPending = "text-primary";
    var approved = "text-primary";
    var inProcess = "text-primary";
    var completed = "text-primary";
    var all = "text-primary";

    var activeText = "active text-white";
    if (status == "paymentpending")
        paymentPending = activeText;
    else if (status == "approved")
        approved = activeText;
    else if (status == "inprocess")
        inProcess = activeText;
    else if (status == "completed")
        completed = activeText;
    else
        all = activeText;

}

<div class="container p-3">
    <div class="d-flex justify-content-between pt-4">
        <div class="p-2">
            <h2 class="text-primary text-start">Orders</h2>
        </div>
        <div class="p-2">
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Orders" asp-action="Index" asp-route-status="paymentpending">
                <li class="list-group-item @paymentPending">Payment Pending</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Orders" asp-action="Index" asp-route-status="approved">
                <li class="list-group-item @approved">Approved</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Orders" asp-action="Index" asp-route-status="inprocess">
                <li class="list-group-item @inProcess">In Process</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Orders" asp-action="Index" asp-route-status="completed">
                <li class="list-group-item @completed">Completed</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Orders" asp-action="Index" asp-route-status="all">
                <li class="list-group-item @all">All</li>
                </a>
            </ul>
        </div>
    </div>
</div>

<table class="table table-striped table-bordered w-100" id="Orders">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Status</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
</table>

<partial name="_Notification"></partial>

@section Scripts {
    <script src="~/js/orders/orders.js"></script>
}